<?xml version="1.0"?>

<launch>

    <!-- Get the machine file -->
    <arg name="machine" default="localhost"/>
    <include file="$(env ROBOT_BRINGUP_PATH)/machines/$(arg machine).machine" />

    <!-- Local planner that sends cmd_vels to the robot_base -->
    <node pkg="cb_base_navigation" type="cb_base_navigation_local_planner_interface" name="local_planner" output="log" machine="$(arg machine)" respawn="true">
        <!-- Local Planner Settings -->
        <rosparam command="load" file="$(env ROBOT_BRINGUP_PATH)/parameters/navigation/local_planner.yaml" />
        <!-- Local Costmap Settings -->
        <rosparam command="load" file="$(env ROBOT_BRINGUP_PATH)/parameters/navigation/local_costmap_gmapping.yaml" ns="local_costmap" />
        <rosparam unless="$(optenv ROBOT_REAL false)" ns="local_costmap">
        recent_obstacles:
            observation_sources: base_laser
        </rosparam>
        <!-- Topic remapping -->
        <remap from="odom" to="base/measurements" />
        <remap from="cmd_vel" to="base/references" />
    </node>

    <!-- Global planner for path calculation from origin pose to goal constraint region -->
    <node pkg="cb_base_navigation" type="cb_base_navigation_global_planner_interface" name="global_planner" output="log" machine="$(arg machine)" respawn="true">
        <!-- Global Planner Settings -->
        <rosparam command="load" file="$(env ROBOT_BRINGUP_PATH)/parameters/navigation/global_planner.yaml" />
        <!-- Global Costmap Settings -->
        <rosparam command="load" file="$(env ROBOT_BRINGUP_PATH)/parameters/navigation/global_costmap_gmapping.yaml" ns="global_costmap" />
        <rosparam unless="$(optenv ROBOT_REAL false)" ns="global_costmap">
        recent_obstacles:
            observation_sources: base_laser
        </rosparam>
    </node>

</launch>
