<?xml version="1.0"?>
<launch>

    <!-- Get the machine file -->
    <arg name="machine" default="localhost"/>
    <include file="$(env ROBOT_BRINGUP_PATH)/machines/$(arg machine).machine" />

    <!-- Launch the websocket server (communication via roslib) -->
    <node name="rosbridge_websocket" pkg="rosbridge_server" type="rosbridge_websocket" output="log" machine="$(arg machine)">
        <param name="authenticate" value="false" />
        <param name="port" value="9090"/>
        <param name="address" value=""/>
        <param name="binary_encoder" value="bson"/>
    </node>

	<!-- HTTP Streaming of ROS Image Topics -->
	<!--
	<node name="web_video_server" pkg="web_video_server" type="web_video_server" output="screen">
		<param name="port" value="8080" />
		<param name="server_threads" value="1" />
		<param name="ros_threads" value="2" />
	</node>
	-->

    <!-- Start the simple webserver to handle static files -->
    <node pkg="tue_mobile_ui" type="webserver.py" name="webserver" output="log" machine="$(arg machine)">
        <rosparam command="load" file="$(env ROBOT_BRINGUP_PATH)/parameters/interaction/mobile_ui_server.yaml" />
    </node>

 </launch>
