<?xml version="1.0"?>
<launch>

    <!-- Launch the websocket server (communication via roslib) -->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />

    <!-- Launch mjpeg server (kinect video stream) -->
    <!--node pkg="mjpeg_server" type="mjpeg_server" name="mjpeg_server" output="screen" /-->

    <!-- Start the simple webserver to handle static files -->
    <node pkg="tue_mobile_ui" type="webserver.py" name="mobile_ui_server" output="screen">
        <rosparam command="load" file="$(env ROBOT_PARAMETER_PATH)/interaction/mobile_ui_server.yaml" />
    </node>

 </launch>
