<?xml version="1.0"?>
<launch>
    <arg name="robot_name"/>
    <arg name="caption_as_frame_id" default="false"/>

    <!-- Get the machine file -->
    <arg name="machine" default="localhost"/>

    <include file="$(env ROBOT_BRINGUP_PATH)/machines/$(arg machine).machine" />

    <!-- Telegram ROS Bridge -->
    <node name="telegram_ros_bridge" pkg="telegram_ros" type="telegram_ros_bridge" output="screen" respawn="true">
        <!--
            Token must be stored in ~/MEGA/credentials/telegram/token_<robot_name>.yaml
            Content of file must be:

            token: "API_TOKEN"

        -->
        <rosparam if="$(optenv ROBOT_REAL false)" command="load" file="$(env HOME)/MEGA/credentials/telegram/token_$(arg robot_name).yaml"/>
        <rosparam unless="$(optenv ROBOT_REAL false)" command="load" file="$(env HOME)/MEGA/credentials/telegram/token_test.yaml"/>
        <rosparam param="caption_as_frame_id">$(arg caption_as_frame_id)</rosparam>
        <remap from="message_from_telegram" to="message_from_user" />
        <remap from="message_to_telegram" to="message_to_user" />
        <remap from="photo_from_telegram" to="photo_from_user" />
        <remap from="photo_to_telegram" to="photo_to_user" />
    </node>

 </launch>
