<?xml version="1.0"?>

<launch>

    <!-- Get the machine file -->
    <arg name="machine" default="localhost"/>
    <include file="$(env ROBOT_BRINGUP_PATH)/machines/$(arg machine).machine" />

    <arg name="robot_name"/>

    <node pkg="vizbox" type="server.py" name="vizbox" cwd="node" output="log" machine="$(arg machine)" >
        <remap from="robot_text" to="text_to_speech/output"/>
        <remap from="operator_text" to="hmi/result/sentence"/>
        <remap from="image" to="top_kinect/rgb/image"/>
    </node>

    <node pkg="topic_tools" type="transform" name="extract_hmi_result_sentence"
        args="/$(arg robot_name)/hmi/result hmi/result/sentence std_msgs/String 'm.result.sentence'"/>

</launch>
