<?xml version="1.0"?>

<launch>
    <!-- Gets current time at launch execution as a formatted string -->
    <arg name="filename" default="video"/>
    <arg name="time_now" default="$(eval eval ('_' + '_import_' + '_(\'datetime\')').datetime.now().strftime('%Y-%m-%d-%H-%M-%S'))"/>
    <arg name="folder" default="$(env HOME)/Videos/Challenges"/>
    <arg name="full_filename" value="$(arg folder)/$(arg filename)_$(arg time_now).avi" />

    <arg name="image_topic"/>

    <node name="video_recorder" pkg="test_tools" type="record_video_from_camera" args="--topic $(arg image_topic) --file $(arg full_filename)"/>

</launch>
