<?xml version="1.0"?>

<launch>

    <arg name="robot_name" default="amigo"/>

    <arg name="gdb" default="false"/>
    <arg if="$(arg gdb)" name="launch-prefix" value="gdb -ex run --args"/>
    <arg unless="$(arg gdb)" name="launch-prefix" value=""/>

    <arg name="env" default="$(optenv ROBOT_ENV robotics_testlabs)" />
    <arg name="robot_init_x" default="$(optenv ROBOT_INIT_X 0)"/>
    <arg name="robot_init_y" default="$(optenv ROBOT_INIT_Y 0)"/>
    <arg name="robot_init_phi" default="$(optenv ROBOT_INIT_PHI 0)"/>

    <!-- start simulator -->
    <node name="fast_simulator" pkg="fast_simulator" type="simulator" output="log" launch-prefix="$(arg launch-prefix)"/>

    <!-- spawn world -->
    <node pkg="fast_simulator" type="spawn" name="spawn_world" args="-i $(arg env) -m $(arg env)" output="log"/>

    <!-- spawn objects -->
    <node name="fast_simulator_object_spawner" pkg="fast_simulator_data" type="spawn_fast_simulator_objects.py" args="worlds/$(arg env)/objects.yaml" output="log"/>

    <!-- spawn robot -->
    <node pkg="fast_simulator" type="spawn" name="spawn_robot" args="-i $(arg robot_name) -m $(arg robot_name) -x $(arg robot_init_x) -y $(arg robot_init_y) -Z $(arg robot_init_phi)" output="log"/>

    <node pkg="robot_launch_files" type="ssl_dummy" name="ssl">
        <param name="frame_id" value="$(arg robot_name)/matrix" />
    </node>

</launch>
