<?xml version="1.0"?>

<launch>
    
    <!-- Get the machine file -->
    <arg name="machine" default="localhost"/>
    <include file="$(env ROBOT_BRINGUP_PATH)/machines/$(arg machine).machine" />

    <arg name="name" />

    <group ns="$(arg name)">

        <node pkg="kinect_driver" type="kinect_driver" name="driver" machine="$(arg machine)"> 
            <rosparam command="load" file="$(env ROBOT_BRINGUP_PATH)/parameters/hardware/sensors/$(arg name).yaml" />
        </node>
    
    </group>

</launch>
