<?xml version="1.0"?>

<launch>

    <!-- Get the machine file -->
    <arg name="machine" default="localhost"/>
    <include file="$(env ROBOT_BRINGUP_PATH)/machines/$(arg machine).machine" />

    <arg name="name" />

    <!-- Push down all topics/nodelets into "camera" namespace -->
    <group ns="$(arg name)">

        <node pkg="urg_node" type="urg_node" name="$(arg name)_urg_node" output="screen" machine="$(arg machine)">
            <remap from="scan" to="scan_raw"/>
            <rosparam command="load" file="$(env ROBOT_BRINGUP_PATH)/parameters/hardware/sensors/$(arg name)_parameters.yaml" />
            <remap from="/diagnostics" to="diagnostics"/>
        </node>

        <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="$(arg name)_scan_to_scan_filter_chain" machine="$(arg machine)">
            <rosparam command="load" file="$(env ROBOT_BRINGUP_PATH)/parameters/hardware/sensors/$(arg name)_filters_parameters.yaml" />
            <remap from="scan" to="scan_raw" />
            <remap from="scan_filtered" to="scan" />
        </node>

    </group>

</launch>
