<?xml version="1.0"?>

<launch>

    <arg name="name" />

    <!-- Push down all topics/nodelets into "camera" namespace -->
    <group ns="$(arg name)">

        <node pkg="hokuyo_node" type="hokuyo_node" name="front_hokuyo_node" output="screen">
            <remap from="scan" to="scan_raw"/>
            <rosparam command="load" file="$(env ROBOT_PARAMETER_PATH)/hardware/sensors/$(arg name)_parameters.yaml" />
        </node>

        <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="front_laser_scan_to_scan_filter_chain">
            <rosparam command="load" file="$(env ROBOT_PARAMETER_PATH)/hardware/sensors/$(arg name)_filters_parameters.yaml" />
            <remap from="scan" to="scan_raw" />
            <remap from="scan_filtered" to="scan" />
        </node>

    </group>

</launch>

