<?xml version="1.0"?>
<launch>

    <!-- Get the machine file -->
    <arg name="machine" default="localhost"/>
    <include file="$(env ROBOT_BRINGUP_PATH)/machines/$(arg machine).machine" />

    <node pkg="robot_launch_files" type="joystick_control.py" name="joystick_control" machine="$(arg machine)" />

</launch>
