<?xml version="1.0"?>
<launch>

    <!-- Get the machine file -->
    <arg name="machine" default="localhost"/>
    <arg name="name" />

    <include file="$(env ROBOT_BRINGUP_PATH)/machines/$(arg machine).machine" />

    <group ns="$(arg name)">

    	<!-- rgbd to ros conversion -->
    	<node pkg="rgbd" type="rgbd_to_ros" args="rgbd" name="rgbd_to_ros" machine="$(arg machine)" respawn="true" />

    	<!-- watch dog for the rgbd to ros conversion -->
    	<node pkg="rgbd" type="rgbd_monitor" name="rgbd_watch_dog" respawn="true"/>

		<!-- Expose interface to query 3d points -->
		<node pkg="rgbd" type="get_3d_point_from_image_roi_node" name="project_3d_point_from_image_roi" machine="$(arg machine)" respawn="true" />

    </group>

	<!-- People recognition -->
	<node name="people_recognition_3d_node" pkg="people_recognition_3d" type="people_recognition_3d_node" output="log" machine="$(arg machine)" respawn="true">
		<param name="link_threshold" value="0.8" />
		<param name="wave_threshold" value="0.3" />
		<param name="probability_threshold" value="0.6" />
		<param name="arm_norm_threshold" value="0.9" />
		<param name="heuristic" value="shoulder" />

		<!-- amigo -->
		<remap from="camera/rgb/image" to="top_kinect/rgb/image" />\
		<remap from="camera/depth/image" to="top_kinect/depth/image" />
		<remap from="camera/depth/camera_info" to="top_kinect/depth/camera_info" />

		<!-- freenect -->
		<!-- <remap from="camera/rgb/image" to="top_kinect/rgb/image_rect_color" />\ -->
		<!-- <remap from="camera/depth/image" to="top_kinect/depth_registered/sw_registered/image_rect" /> -->
		<!-- <remap from="camera/depth/camera_info" to="top_kinect/depth_registered/sw_registered/camera_info" /> -->
	</node>

</launch>
