<?xml version="1.0" encoding="UTF-8"?>
<launch>

	<!-- Get the machine file -->
	<arg name="machine" default="localhost" />
	<include file="$(env ROBOT_BRINGUP_PATH)/machines/$(arg machine).machine" />

	<remap from="/diagnostics" to="diagnostics" />

	<!-- Collects all the diagnostics messages -->
	<node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostics_aggegrator"
			args="CPP" machine="$(arg machine)">
		<rosparam command="load" file="$(env ROBOT_BRINGUP_PATH)/parameters/diagnostics/aggegrator.yaml" />
		<remap from="/diagnostics" to="diagnostics" />
		<remap from="/diagnostics_agg" to="diagnostics_agg" />
		<remap from="/diagnostics_toplevel_state" to="diagnostics_toplevel_state" />
	</node>

	<!-- Checks if all nodes are still running -->
	<node name="node_alive_server" type="node_alive_server" pkg="node_alive" machine="$(arg machine)" output="log">
		<rosparam command="load" file="$(env ROBOT_BRINGUP_PATH)/parameters/diagnostics/node_alive_neglect_nodes.yaml" />
	</node>

	<!-- Monitor TF status -->
	<node pkg="diagnostic_common_diagnostics" name="tf_monitor" type="tf_monitor.py" machine="$(arg machine)" />

</launch>
