<?xml version="1.0"?>

<launch>

	<!-- Collects all the diagnostics messages -->
	<node pkg="diagnostic_aggregator" type="aggregator_node" respawn="false" name="diagnostics_aggegrator" output="screen" args="CPP" >
	    <rosparam command="load" file="$(env ROBOT_PARAMETER_PATH)/diagnostics/general_analyzers.yaml" />
	    <rosparam command="load" file="$(env ROBOT_PARAMETER_PATH)/diagnostics/hardware_analyzers.yaml" />
	</node>

	<!-- Checks if all nodes are still running -->
    <node name="node_alive_server" type="node_alive_server" pkg="node_alive">
	    <rosparam command="load" file="$(env ROBOT_PARAMETER_PATH)/diagnostics/node_alive_neglect_nodes.yaml" />
    </node>

	<!-- TODO: Start challenge logger --> <!-- Do we need this one? -->
	<!-- <include file="$(find challenge_logger)/launch/start.launch" /> -->

	<!-- TODO: The challenge_logger needs cpu_monitor information -->
    <!--
	<include file="$(find amigo_diagnostics)/launch/cpu_monitor.launch" />
	<include file="$(find amigo_diagnostics)/launch/hd_monitor.launch" />
	<include file="$(find amigo_diagnostics)/launch/ntp_monitor.launch" />
    -->

</launch>



