<launch>
  <include file="$(find amigo_machine_files)/machines/amigo1.machine" />
  <include file="$(find amigo_machine_files)/machines/amigo2.machine" />
  <include file="$(find amigo_machine_files)/machines/amigo3.machine" />
  <include file="$(find amigo_machine_files)/machines/amigo4.machine" />
  
  <node pkg="pr2_computer_monitor" type="ntp_monitor.py" name="ntp_monitor_amigo2" args="amigo2" machine="amigo1" />
  <node pkg="pr2_computer_monitor" type="ntp_monitor.py" name="ntp_monitor_amigo3" args="amigo3" machine="amigo1" />
  <node pkg="pr2_computer_monitor" type="ntp_monitor.py" name="ntp_monitor_amigo4" args="amigo4" machine="amigo1" />
</launch>
