<?xml version="1.0"?>
<launch>

    <arg name="machine" default="localhost"/>
    <include file="$(env ROBOT_BRINGUP_PATH)/machines/$(arg machine).machine" />

    <!-- HEAD REF SERVER -->
    <node name="head_ref" pkg="head_ref" type="head_ref" output="log" machine="$(arg machine)">
        <rosparam command="load" file="$(env ROBOT_BRINGUP_PATH)/parameters/manipulation/head_server.yaml" />
        <remap from="/neck/references" to="neck/references"/>
        <remap from="/neck/measurements" to="neck/measurements"/>
    </node>

<!--    <node name="head_ref_client_look_around" pkg="head_ref" type="look_around_client" output="log">-->
<!--        <rosparam command="load" file="$(env ROBOT_BRINGUP_PATH)/parameters/manipulation/head_look_around_client.yaml" />-->
<!--        <remap from="/cmd_vel" to="base/references" />-->
<!--    </node>-->

    <node name="head_ref_client_cmd_vel" pkg="head_ref" type="cmd_vel_client" output="log">
        <rosparam command="load" file="$(env ROBOT_BRINGUP_PATH)/parameters/manipulation/head_cmd_vel_client.yaml" />
        <remap from="/cmd_vel" to="base/references" />
    </node>

</launch>
