<?xml version="1.0"?>
<launch>

    <!-- Get the machine file -->
    <arg name="machine" default="localhost"/>
    <include file="$(env ROBOT_BRINGUP_PATH)/machines/$(arg machine).machine" />

    <arg name="robot_env" default="$(optenv ROBOT_ENV robotics_testlabs)" />
    <arg name="robot_real" default="$(optenv ROBOT_REAL false)" />
    <arg name="robot_name"/>

    <arg name="color_extractor_srv_name" default="extract_color" />
    <arg name="openface_srv_name" default="face_recognition/recognize" />
    <arg name="openpose_srv_name" default="openpose/recognize" />
    <arg name="keras_srv_name" default="face_recognition/get_face_properties" />

    <arg name="openface_db" default="" />
    <arg name="openface_config" default="$(env ROBOT_BRINGUP_PATH)/parameters/world_modeling/face_recognition.yaml" />
    <arg name="keras_face_model" default="~/data/keras_models/age_gender/weights.28-3.73.hdf5" />
    <arg name="openpose_models" default="~/openpose/models/" />

    <!-- People recognition -->
    <group ns="people_recognition">

        <!-- People recognition 3D-->
        <group if="$(arg robot_real)">
            <node name="people_recognition_3d_node" pkg="people_recognition_3d" type="people_recognition_3d_node" output="log" machine="$(arg machine)" />
        </group>
        <group unless="$(arg robot_real)">
            <node name="people_recognition_3d_node" pkg="people_recognition_3d" type="dummy_people_recognition_3d_node.py" output="log" machine="$(arg machine)" />
        </group>

        <!-- People recognition 2D-->
        <node name="people_recognition_2d_node" pkg="people_recognition_2d" type="people_recognition_2d_node" output="log" machine="$(arg machine)" >
            <param name="color_extractor_srv_name" value="$(arg color_extractor_srv_name)" />
            <param name="openface_srv_name" value="$(arg openface_srv_name)" />
            <param name="openpose_srv_name" value="$(arg openpose_srv_name)" />
            <param name="keras_srv_name" value="$(arg keras_srv_name)" />
        </node>

        <!-- Face recognition -->
        <group ns="face_recognition" >
            <!-- OpenFace detection -->
            <node name="face_recognition" pkg="image_recognition_openface" type="face_recognition_node" output="log" machine="$(arg machine)">
                <rosparam command="load" file="$(arg openface_config)" />
                <param name="topic_save_images" value="false" />
                <param name="service_save_images" value="$(arg robot_real)" />
                <param name="save_images_folder" value="~/MEGA/data/$(arg robot_env)/training_data" />
                <param name="db" value="$(arg openface_db)" />
            </node>

            <!-- Keras face properties -->
            <node pkg="image_recognition_keras" type="face_properties_node" name="keras_face_properties">
                <param name="weights_file_path" value="$(arg keras_face_model)" />
                <param name="save_images" value="$(arg robot_real)" />
                <param name="save_images_folder" value="~/MEGA/data/$(arg robot_env)/training_data" />
            </node>
        </group>

        <!-- Colour extraction -->
        <node pkg="image_recognition_color_extractor" type="color_extractor_node" name="color_extractor_node" />
    </group>

    <group ns="openpose">
        <!-- Openpose node -->
        <node pkg="image_recognition_openpose" type="openpose_node" name="openpos_node">
            <param name="net_input_width" value="368" />
            <param name="net_input_height" value="368" />
            <param name="net_output_width" value="368" />
            <param name="net_output_height" value="368" />
            <param name="model_folder" value="$(arg openpose_models)" />
        </node>

    </group>

</launch>
