<?xml version="1.0"?>
<launch>

    <!-- Get the machine file -->
    <arg name="machine" default="localhost"/>
    <include file="$(env ROBOT_BRINGUP_PATH)/machines/$(arg machine).machine" />

    <arg name="robot_env" default="$(optenv ROBOT_ENV robotics_testlabs)" />
    <arg name="robot_real" default="$(optenv ROBOT_REAL false)" />
    <arg name="robot_name"/>

    <!-- People recognition 3D node args -->
    <arg name="enable_topic_mode" default=False />
    <arg name="camera_info_depth" default="/$(arg robot_name)/head_rgbd_sensor/depth_registered/camera_info" />
    <arg name="image_depth" default="/$(arg robot_name)/head_rgbd_sensor/depth_registered/depth" />
    <arg name="image_rgb" default="/$(arg robot_name)/head_rgbd_sensor/rgb/image_raw" />

    <!-- People recognition 2D node args -->
    <arg name="color_extractor_srv_name" default="/$(arg robot_name)/people_recognition/extract_color" />
    <arg name="openface_srv_name" default="face_recognition/recognize" />
    <arg name="openpose_srv_name" default="/$(arg robot_name)/openpose/recognize" />
    <arg name="keras_srv_name" default="face_recognition/get_face_properties" />

    <arg name="openface_db" default="" />
    <arg name="openface_config" default="$(env ROBOT_BRINGUP_PATH)/parameters/world_modeling/face_recognition.yaml" />
    <arg name="keras_face_model" default="~/data/keras_models/age_gender/weights.28-3.73.hdf5" />

    <!-- People recognition -->
    <group ns="people_recognition">

        <!-- People recognition 3D-->
        <node name="people_recognition_3d_node" pkg="people_recognition_3d" type="people_recognition_3d_node" output="log" machine="$(arg machine)" >
            <param name="enable_topic_mode" value="$(arg enable_topic_mode)" />
            <param name="camera_info_depth" value="$(arg camera_info_depth)" />
            <param name="image_depth" value="$(arg image_depth)" />
            <param name="image_rgb" value="$(arg image_rgb)" />
        </node>

        <!-- People recognition 2D-->
        <node name="people_recognition_2d_node" pkg="people_recognition_2d" type="people_recognition_2d_node" output="log" machine="$(arg machine)" >
            <param name="color_extractor_srv_name" value="$(arg color_extractor_srv_name)" />
            <param name="openface_srv_name" value="$(arg openface_srv_name)" />
            <param name="openpose_srv_name" value="$(arg openpose_srv_name)" />
            <param name="keras_srv_name" value="$(arg keras_srv_name)" />
        </node>

        <!-- Face recognition -->
        <group ns="face_recognition" >
            <!-- OpenFace detection -->
            <node name="face_recognition" pkg="image_recognition_openface" type="face_recognition_node" output="log" machine="$(arg machine)">
                <rosparam command="load" file="$(arg openface_config)" />
                <param name="topic_save_images" value="false" />
                <param name="service_save_images" value="$(arg robot_real)" />
                <param name="save_images_folder" value="~/MEGA/data/$(arg robot_env)/training_data" />
                <param name="db" value="$(arg openface_db)" />
            </node>

            <!-- Keras face properties -->
            <node pkg="image_recognition_keras" type="face_properties_node" name="keras_face_properties">
                <param name="weights_file_path" value="$(arg keras_face_model)" />
                <param name="save_images" value="$(arg robot_real)" />
                <param name="save_images_folder" value="~/MEGA/data/$(arg robot_env)/training_data" />
            </node>
        </group>

        <!-- Colour extraction -->
        <node pkg="image_recognition_util" type="color_extractor_node" name="color_extractor_node" />
    </group>

</launch>
