<?xml version="1.0"?>
<launch>

    <!-- Get the machine file -->
    <arg name="machine" default="localhost"/>
    <include file="$(env ROBOT_BRINGUP_PATH)/machines/$(arg machine).machine" />

    <arg name="robot_env" default="$(optenv ROBOT_ENV robotics_testlabs)" />
    <arg name="robot_real" default="$(optenv ROBOT_REAL false)" />
    <arg name="robot_name"/>

    <arg name="age_gender_use_gpu" default="$(arg robot_real)"/>

    <arg name="color_extractor_srv_name" default="extract_color" />
    <arg name="face_recognition_srv_name" default="face_recognition/recognize" />
    <arg name="pose_estimation_srv_name" default="/$(arg robot_name)/pose_estimation/recognize" />
    <arg name="face_properties_srv_name" default="face_recognition/get_face_properties" />

    <arg name="enable_age_gender_detection" default="True"/>
    <arg name="enable_shirt_color_extraction" default="True"/>

    <arg name="enable_topic_mode" default="False" />
    <arg name="camera_info_depth" default="/$(arg robot_name)/head_rgbd_sensor/depth_registered/camera_info" />
    <arg name="image_depth" default="/$(arg robot_name)/head_rgbd_sensor/depth_registered/image" />
    <arg name="image_rgb" default="/$(arg robot_name)/head_rgbd_sensor/rgb/image_raw" />

    <arg name="face_recognition_db" default="" />
    <arg name="face_recognition_config" default="$(env ROBOT_BRINGUP_PATH)/parameters/world_modeling/face_recognition.yaml" />
    <arg name="age_gender_model" default="~/data/pytorch_models/best-epoch47-0.9314.onnx" />

    <arg name="people_recognition_3d_config" default="$(find people_recognition_3d)/config/config.yaml" />

    <!-- pose_estimation should be launched manually -->

    <!-- People recognition -->
    <group ns="people_recognition">

        <!-- People recognition 3D-->
        <group if="$(arg robot_real)">
            <node name="people_recognition_3d_node" pkg="people_recognition_3d" type="people_recognition_3d_node" output="log" machine="$(arg machine)" >
                <rosparam command="load" file="$(arg people_recognition_3d_config)"/>
                <param name="enable_topic_mode" value="$(arg enable_topic_mode)" />
                <remap from="camera_info_depth" to="$(arg camera_info_depth)" />
                <remap from="depth" to="$(arg image_depth)" />
                <remap from="rgb" to="$(arg image_rgb)" />
            </node>
        </group>
        <group unless="$(arg robot_real)">
            <node name="people_recognition_3d_node" pkg="people_recognition_3d" type="dummy_people_recognition_3d_node.py" output="log" machine="$(arg machine)" />
        </group>

        <!-- People recognition 2D-->
        <node name="people_recognition_2d_node" pkg="people_recognition_2d" type="people_recognition_2d_node" output="log" machine="$(arg machine)" >
            <param name="color_extractor_srv_name" value="$(arg color_extractor_srv_name)" />
            <param name="face_recognition_srv_name" value="$(arg face_recognition_srv_name)" />
            <param name="pose_estimation_srv_name" value="$(arg pose_estimation_srv_name)" />
            <param name="face_properties_srv_name" value="$(arg face_propertoes_srv_name)" />
            <param name="enable_age_gender_detection" value="$(arg enable_age_gender_detection)"/>
            <param name="enable_shirt_color_extraction" value="$(arg enable_shirt_color_extraction)"/>
        </node>

        <!-- Face recognition -->
        <group ns="face_recognition" >
            <!-- Face recognition -->
            <node name="face_recognition" pkg="image_recognition_openface" type="face_recognition_node" output="log" machine="$(arg machine)">
                <rosparam command="load" file="$(arg face_recognition_config)" />
                <param name="topic_save_images" value="false" />
                <param name="service_save_images" value="$(arg robot_real)" />
                <param name="save_images_folder" value="~/MEGA/data/$(arg robot_env)/training_data" />
                <param name="db" value="$(arg face_recognition_db)" />
            </node>

            <!-- Age gender classification -->
            <node pkg="image_recognition_age_gender" type="face_properties_node" name="age_gender_estimation" output="log" machine="$(arg machine)">
                <param name="weights_file_path" value="$(arg age_gender_model)" />
                <param name="save_images" value="$(arg robot_real)" />
                <param name="save_images_folder" value="~/MEGA/data/$(arg robot_env)/training_data" />
                <param name="use_gpu" value="$(arg age_gender_use_gpu)"/>
            </node>
        </group>

        <!-- Colour extraction -->
        <node pkg="image_recognition_color_extractor" type="color_extractor_node" name="color_extractor_node" output="log" machine="$(arg machine)"/>
    </group>


</launch>
