<?xml version="1.0"?>
<launch>

    <!-- Get the machine file -->
    <arg name="machine" default="localhost"/>
    <include file="$(env ROBOT_BRINGUP_PATH)/machines/$(arg machine).machine" />

    <arg name="config" default="world_modeling/world_model.yaml"/>

    <!-- World model ED -->
    <node name="ed" pkg="ed" type="ed" args="$(env ROBOT_BRINGUP_PATH)/parameters/$(arg config)" output="screen" machine="$(arg machine)" />

</launch>
