<?xml version="1.0"?>

<launch>

    <!-- Get the machine file -->
    <arg name="machine" default="localhost"/>
    <include file="$(env ROBOT_BRINGUP_PATH)/machines/$(arg machine).machine" />

    <!-- Main node, only needs to run on the real robot -->
    <group if="$(optenv ROBOT_REAL false)">
    
        <node pkg="tensorflow_object_recognition" type="object_recognition_node.py" name="tensorflow_object_recognition" output="screen" machine="$(arg machine)">
            <!-- Settings file-->
            <rosparam command="load" file="$(env ROBOT_BRINGUP_PATH)/parameters/perception/tensorflow.yaml" />
        </node>
        
    </group>

</launch>
