<?xml version="1.0"?>
<launch>

    <!-- Get the machine file -->
    <arg name="machine" default="localhost"/>
    <include file="$(env ROBOT_BRINGUP_PATH)/machines/$(arg machine).machine" />

    <!-- Multimaster -->
<!--    <node pkg="master_discovery_fkie" output="screen" type="master_discovery" name="master_discovery" machine="$(arg machine)">-->
<!--        <rosparam command="load" file="$(env ROBOT_BRINGUP_PATH)/parameters/multirobot/discovery.yaml" />-->
<!--    </node>-->
<!--    <node pkg="master_sync_fkie" output="screen" type="master_sync" name="master_sync" machine="$(arg machine)">-->
<!--        <rosparam command="load" file="$(env ROBOT_BRINGUP_PATH)/parameters/multirobot/sync.yaml" />-->
<!--    </node>-->

</launch>
