<?xml version="1.0"?>

<launch>

    <!-- Get the machine file -->
    <arg name="machine" default="localhost"/>

    <include file="$(env ROBOT_BRINGUP_PATH)/machines/$(arg machine).machine" />

	<group if="$(optenv ROBOT_REAL false)">

        <node name="trigger_client" pkg="multirobot_communication" type="trigger_client.py" machine="$(arg machine)">
            <rosparam command="load" file="$(env ROBOT_BRINGUP_PATH)/parameters/multirobot/trigger_client.yaml" />
        </node>

        <node name="trigger_server" pkg="multirobot_communication" type="trigger_server.py" machine="$(arg machine)">
            <rosparam command="load" file="$(env ROBOT_BRINGUP_PATH)/parameters/multirobot/trigger_server.yaml" />
        </node>

	</group>

</launch>
