<?xml version="1.0"?>

<launch>

    <!-- Get the machine file -->
    <arg name="machine" default="localhost"/>

    <include file="$(env ROBOT_BRINGUP_PATH)/machines/$(arg machine).machine" />

	<group if="$(optenv ROBOT_REAL false)">

        <node name="ed" pkg="multirobot_communication" type="ed_client_bridge.py" machine="$(arg machine)">
		<rosparam command="load" file="$(env ROBOT_BRINGUP_PATH)/parameters/multirobot/world_model_client_bridge.yaml" />
        </node>

    </group>

</launch>
