<?xml version="1.0"?>

<launch>

    <!-- Get the machine file -->
    <arg name="machine" default="localhost"/>
    <arg name="ip" />
    <arg name="port" />

    <include file="$(env ROBOT_BRINGUP_PATH)/machines/$(arg machine).machine" />

	<group if="$(optenv ROBOT_REAL false)">

        <node name="sync_ed" pkg="multirobot_communication" type="ed_server_bridge.py" machine="$(arg machine)">
		<rosparam command="load" file="$(env ROBOT_BRINGUP_PATH)/parameters/multirobot/world_model_server_bridge.yaml" />
        </node>

    </group>

</launch>
